.clients {
  display: flex;
  align-items: center;
  margin-bottom: 94px;
  justify-content: space-between;

  &-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: $hr-text-color;
    margin-top: 94px;
    margin-bottom: 50px;
  }
}

.client-card {
  width: 170px;
  height: 90px;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.client-item {
  fill: #afb1b8;
}

.client-card:hover .client-item,
.client-card:focus .client-item {
  fill: $primary-accent-color;
  transition: $hover-animation;
}

.client-card:hover,
.client-card:focus {
  border-color: $primary-accent-color;
  cursor: pointer;
  transition: $hover-animation;
}
