.btn-modal-send {
  width: 200px;
  height: 50px;

  background: $primary-accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-family: $mainFont;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: #ffffff;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 165px;
  margin-right: 163px;

  &:hover {
    background-color: #188ce8;
  }
}

.checkbox {
  padding-left: 1.2em;
}

.custom-box {
  position: absolute;
  margin-left: 3.2em;
  margin-top: 0.22em;
  width: 16px;
  height: 15px;
  background-image: url(../images/empty-checkbox.svg);
  background-repeat: no-repeat;
  pointer-events: none;
}

.form-input-check {
  position: absolute;
  opacity: 0;
  margin-left: 3.3em;
  margin-top: 5px;

  &:checked + .custom-box {
    border-radius: 2px;
    background-image: url(../images/Rectangle.svg);
  }

  &:checked:focus + .custom-box {
    border-radius: 0.05em;
    background-image: url(../images/Rectangle.svg);
  }

  &:focus + .custom-box {
    background-image: url(../images/empty-checkbox-blue.svg);
  }
}

.form-field-label {
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166px;

  letter-spacing: 0.01em;

  color: $primary-text-color;
}

.form-field-agreement {
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  margin-left: 14%;

  & a {
    color: $primary-accent-color;
  }
}
